header {
  background-color: white;
  padding: 16px 0;
  z-index: 999;
}

@media (max-width: 1024px) {

  html {
    font-size: 56%;
  }

  .header-container {
    max-width: 100%;
  }

  .language {
    margin-right: 2%;
  }

  .container-text {
    min-width: 60%;
  }

}

@media (max-width: 960px) {

  html {
    font-size: 50%;
  }

  header {
    background-color: var(--title-color);
    width: 100%;
  }

  .header-container a {
    color: var(--white-color);
  }

  #arrow {
    color: var(--white-color);
  }

  .header-container {
    max-width: 100%;
  }

  .language {
    margin-right: 2%;
  }

}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .container-text {
    margin-left: 10rem;
  }

  .text-about {
    width: 85%;
  }

  .text-about span {
    font-size: 6rem;
  }

  .text-about ul li {
    font-size: 2.7rem;
  }

  .slide-content {
    margin: 0 10px;
  }

  .swipper-navBtn {
    display: none !important;
  }
}

@media (max-width: 500px) {

  section {
    height: 95vh;
  }

  .nav-menu {
    position: fixed;
    top: -120%; left: 0;
    width: 100%;
  }

  .container-text {
    width: 90%;
    margin-left: 3rem;
  }

  .container-text span {
    font-size: 5rem;
    font-weight: 700;
  }

  .container-text p {
    font-size: 2.5rem;
  }

  .container-text button {
    width: 18rem;
    font-size: 2rem;
  }

  .section-about {
    flex-direction: column;
  }

  .container-about::before {
    width: 100%;
  }

  .container-left {
    display: none;
  }

  .container-right {
    width: 100%;
    height: 100%;
  }

  .text-about {
    width: 90%;
  }

  .text-about span {
    font-size: 5rem;
  }

  .text-about p {
    font-size: 2.5rem;
  }

  .text-about ul li {
    font-size: 2.8rem;
  }
} 